<h1>健康観察アプリ</h1>

<table>
    <tr>
        <td>学年(選択必須)</td><td></td>
    </tr>
    <tr>
        <td>組(選択必須)</td><td></td>
    </tr>
    <tr>
        <td>出席番号(選択必須)</td><td></td>
    </tr>
    <tr>
        <td>氏名(入力必須)</td><td></td>
    </tr>
</table>